
<ion-header id="jeder">BASAKUMEAK</ion-header>
<ion-content>
  <body>
    <br />
    <img *ngIf="hideEska" id="gif" [src]="gif" />
    <canvas
      #myCanvas
      (touchstart)="handleStart($event)"
      (touchmove)="handleMove($event)"
    ></canvas>
    <ion-toolbar id="bottom-toolbar">
        <button ion-button icon-only (click)="clearCanvas()">
          <ion-icon name="trash"></ion-icon>
        </button>
        <br>
        <br>
        <ion-button
          color="tertiary"
          (click)="zorionak()"
          id="cuadroHasi"
          style="width: 100px; height: 30px; margin-bottom: 30px"
          >Bukatu</ion-button
        >
    </ion-toolbar>
    <div *ngIf="hideEska" class="bocadillo-cuadrado">
      <p id="testua">
        Oso ondo, zorionak. Sakatu behean duzun botoia hurrengo geralekura
        joateko. <br />Hirugarren tokia:<br />
        <br /><b>MARIENEA ERAIKINA</b>
      </p>
      <ion-button color="tertiary" [routerLink]="['../mapa']" id="cuadroHasi"
        >Jarraitu</ion-button
      >
    </div>
  </body></ion-content
>
