.answ{
    background-color:#5260ff;
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: solid black 2px;

}
ion-content{
    background-color: gray;

}
.answ:hover{
    color:black;
    background-color: lightgray;
    transition: 100ms;
}
#ans{
    display: flex;
    justify-content: space-around;
    text-align: center;
    
}
.bocadillo-cuadrado {
    position: relative;
    text-align: center;
    top: 10%;
    left: 10%;
    height: 170px;
    width: 300px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
  }
  .bocadillo-cuadrado:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(10% - 25px)
  }
  #gif{
    bottom: 0;
    position: absolute;
    height: 30%;
  }
#jeder{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Copperplate",monospace;
    font-size: 40px;
    background-color: #5260ff;
}

.cont{background-color: gray;
    text-align: center;
    width: 100%;
    border: solid  1px;
    border-color: black;
}

ion-content{
    display: flex;
    justify-content: center;
}