.answ{
    background-color:#5260ff;
    color: white;
}

.answ:hover{
    color:black;
    background-color: lightgray;
    transition: 100ms;
}

#jeder{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Copperplate",monospace;
    font-size: 40px;
    background-color: #5260ff;
}