<ion-header id="jeder">BASAKUMEAK</ion-header>

 
<ion-content>
  <body>
    <h3>Osatu honako puzlea lehenengo pista lortzeko!</h3>
    <br>
    <div id="board"></div>
    <br>        <img *ngIf="hideEska" id="gif" [src]="gif"/>

    <div id="pieces"></div>



        <ion-button *ngIf="hideBut"  color="tertiary" (click)="zorionak()" id="refreshButton">Bidali</ion-button>
    <div *ngIf="hideEska" class="bocadillo-cuadrado">
      <p id="testua">Oso ondo, zorionak. Sakatu behean duzun botoia hurrengo geralekura joateko. <br>Lehenengo tokia:<br> <br><b>ESKARABILERA</b></p>
      <ion-button  color="tertiary" [routerLink]="['mapa']" id="cuadroHasi">Aurrera</ion-button>
    
    </div>
</body>
</ion-content>
