#container {
  text-align: center;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
#leafletMap {
  height: 100%;
  opacity: 0.5;
  }


  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;

  }
  

  #cuadroHasi {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5%;
  }

  
  #refreshButton {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
  
  }
    #jeder{
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Copperplate",monospace;
    font-size: 40px;
    background-color: #5260ff;
  
  }
  #gif{
    position: absolute;
    bottom: 0;
    height: 30%;
  }
  .bocadillo-cuadrado {
    position: relative;
    top: 40%;
    left: 10%;
    height: 200px;
    width: 300px;
    background: white;
    box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}
.bocadillo-cuadrado:before {
    border: 25px solid white;
    content: '';
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: calc(50% - 25px)
}

#testua{
  margin: 20px;
  font-family: "Copperplate",monospace;

}