<ion-header id="jeder">BASAKUMEAK</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
<div class="map-container">
    <div id="leafletMap"></div>
    <ion-button *ngIf="hideButton" (click)="hasi()"color="tertiary" id="refreshButton">Hasi</ion-button>
    <img *ngIf="hideEska" id="gif" (click)="isPlaying()" [src]="gif"  />
</div>

<div *ngIf="hideEska" class="bocadillo-cuadrado">
  <p id="testua">Kaixo guztioi, eta ongi etorri esperientzia berri honetara.
    Ni Eskarabilera naiz eta Basauriko leku interesgarri eta politenak ezagutzera eramango zaituztet. Sakatu Hasi botoia gure abentura elkarrekin hasi ahal izateko</p>
  <ion-button  color="tertiary" [routerLink]="['game1']" id="cuadroHasi">Hasi</ion-button>

</div>

</ion-content>
