body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#testua {
  margin: 20px;
  font-family: "Copperplate", monospace;

}

.bocadillo-cuadrado {
  position: relative;
  bottom: 60%;
  left: 20%;
  height: 170px;
  width: 300px;
  background: white;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}

.bocadillo-cuadrado:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -48px;
  left: calc(60% - 25px)
}

#gif {
  position: absolute;
  bottom: 100px;
  height: 30%;
}

#jeder {
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Copperplate", monospace;
  font-size: 25px;
  background-color: #5260ff;
}

ion-icon {
  width: 20px;
  height: 20px;
}

#top-toolbar {
  position: absolute;
  top: 0;
}

#bottom-toolbar {
  position: absolute;
  bottom: 0;
}

canvas {
  display: block;
  background-image: url('../../../assets/Astoa.jpg');
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: auto;
  background-size: contain;
  background-color: white;
  background-position: center center;
  margin-top: -5px;
}