<ion-content>
<ion-toolbar id="top-toolbar">
  <ion-buttons
    style="display: flex; justify-content: center; align-items: center"
  >
    <button
      style="background-color: transparent"
      *ngFor="let colour of availableColours"
      icon-only
      ion-button
      (click)="changeColour(colour)"
    >
      <ion-icon [style.color]="colour" name="brush"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
  <body>
    <br />
    <img *ngIf="hideEska" id="gif" [src]="gif" />
    <canvas
      #myCanvas
      (touchstart)="handleStart($event)"
      (touchmove)="handleMove($event)"
    ></canvas>
    <ion-toolbar id="bottom-toolbar">
      <ion-buttons
        style="display: flex; justify-content: center; align-items: center"
      >
        <button ion-button icon-only (click)="clearCanvas()">
          <ion-icon name="trash"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons
        style="display: flex; justify-content: center; align-items: center"
      >
        <button
          ion-button
          icon-only
          (click)="changeSize(2)"
          style="background-color: transparent"
        >
          <ion-icon style="font-size: 10px" name="radio-button-on"></ion-icon>
        </button>
        <button ion-button icon-only (click)="changeSize(5)">
          <ion-icon style="font-size: 20px" name="radio-button-on"></ion-icon>
        </button>
        <button ion-button icon-only (click)="changeSize(10)">
          <ion-icon style="font-size: 30px" name="radio-button-on"></ion-icon>
        </button>
      </ion-buttons>
      <ion-button
        color="tertiary"
        (click)="zorionak()"
        style="width: 100px; height: 30px; margin-bottom: 30px"
        >Bukatu</ion-button
      >
    </ion-toolbar>
    <div *ngIf="hideEska" class="bocadillo-cuadrado">
      <p id="testua">
        Oso ondo, zorionak. Sakatu behean duzun botoia hurrengo geralekura
        joateko. <br />Bigarren tokia:<br />
        <br /><b>SAN FAUSTOKO PLAZA</b>
      </p>
      <ion-button color="tertiary" [routerLink]="['../mapa']" id="cuadroHasi"
        >Jarraitu</ion-button
      >
    </div>
  </body></ion-content>
