<ion-header id="jeder">BASAKUMEAK</ion-header>

 
<ion-content>

  <section>
    <div id="wrapper" style="margin-left:auto; margin-right:auto;">
        <div id="maze">
            <div id="c" style="margin-left:auto; margin-right:auto;margin-bottom: 10px;text-align: center;width: 50%;font-size: large"></div>

            <canvas id="canvas" width="523" height="523" style="margin-left:auto; margin-right:auto">
            This text is displayed if your browser does not support HTML5 Canvas.
        </canvas>
            <div id="timerel" style="margin-left:auto; margin-right:auto;margin-top:0px;text-align: center;width: 50%;font-size: large"></div>

        </div>

        <!-- The Modal -->
        <div id="myModal" class="modal">

                
            <!-- Modal content -->
          
            <div  class="bocadillo-cuadrado">
                        <p id="testua">Oso ondo, zorionak. Sakatu behean duzun botoia hurrengo geralekura joateko. <br>Lehenengo tokia:<br> <br><b>ESKARABILERA</b></p>
                        <ion-button  color="tertiary" [routerLink]="['mapa']" id="cuadroHasi">Aurrera</ion-button>  
                </div>
                <img  id="gif" [src]="gif"/>

        </div>


    </div>
    <!--canvas id="c" width="2048" height="2048" style="margin-left:auto; margin-right:auto"></canvas-->
   
 

</section>
</ion-content>
